body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

#game-container {
    margin-top: 20px;
}

#game-area {
    width: 90%;
    height: 400px;
    border: 2px solid white;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.token {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url('icon.png');
    background-size: cover;
}

.bonus {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('bonus-icon.png');
    background-size: cover;
}

.cloud {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('4.png');
    background-size: cover;
}

#menu {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 20px;
    border: 2px solid white;
}
